@model matrix.Models.Entidades.Servicos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoServico)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlFotoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlFotoServico)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostraPagInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostraPagInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipe.IdEquipe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
