@model matrix.Models.Views.ServicoViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="px-4 w-full centralizarElemento" style="margin-top: 100px; margin-bottom: 100px">
            <div
              class="
                shadow-testimonial
                rounded-lg
                bg-white
                py-10
                px-8
                md:p-[60px]
                lg:p-10
                2xl:p-[60px]
                sm:py-12 sm:px-10
                lg:py-12 lg:px-10
                wow
                fadeInUp
              "
              data-wow-delay=".2s
              "
            >
              <h3 class="font-semibold mb-8 text-2xl md:text-[26px]">
                Serviço
              </h3>
              <form asp-action="Edit">
                  <input type="hidden" value="@Model.IdServico" name="IdServico" id="IdServico">
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Tipo de Serviço</label
                  >
                  <input
                    name="TipoServico"
                    placeholder="Design"
                    value="@Model.TipoServico"
                    class="
                      w-full
                      border-0 border-b border-[#f1f1f1]
                      focus:border-primary focus:outline-none
                      py-4
                    "
                  />
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Descrição</label
                  >
                  <input
                    name="Descricao"
                    value="@Model.Descricao"
                    placeholder="Idealização e desenvolvimento da estetica de um produto"
                    class="
                      w-full
                      border-0 border-b border-[#f1f1f1]
                      focus:border-primary focus:outline-none
                      py-4
                    "
                  />
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark"
                    >Equipe dona do Serviço</label
                  >
                  <select
                    name="EquipeId"
                    value="@Model.NomeEquipe"
                    class="
                      form-control
                      w-full
                      border-0 border-b border-[#f1f1f1]
                    "
                    asp-items="ViewBag.EquipeId"
                  ></select>
                </div>
                <div class="mb-6">
                  <label class="block text-xs text-dark" style="padding-bottom: 10px"
                    >Aparecerá na Pagina inicial?</label
                  >
                  <label class="form-check-label text-xs text-dark" >
                    <input class="form-check-input" asp-for="MostraPagInicial" /> @Html.DisplayNameFor(model => model.MostraPagInicial)
                </label>
                </div>
                <div class="mb-0">
                  <button
                    type="submit"
                    value="Create"
                    class="
                      inline-flex
                      items-center
                      justify-center
                      py-4
                      px-6
                      rounded
                      text-white
                      bg-primary
                      text-base
                      font-medium
                      hover:bg-dark
                      transition
                      duration-300
                      ease-in-out
                    "
                  >
                    Editar Serviço
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
