@model IEnumerable<matrix.Models.Entidades.Servicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlFotoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MostraPagInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlFotoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostraPagInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipe.IdEquipe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
