@model matrix.Models.Views.PostagemViewModel

 <div class="w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="mb-10 group wow fadeInUp" data-wow-delay=".1s">
              <div class="rounded overflow-hidden mb-8">   
                <input type="hidden" asp-for="@Model.idPost" name="IdPost" id="IdProduto" class="block">
                <a asp-action="details" asp-route-id="@Model.idPost" asp-controller="postagems" class="block">
                  <img
                    src="@Model.LinkImagemPostagem"
                    alt="image"
                    class="
                      w-full
                      transition
                      group-hover:scale-125 group-hover:rotate-6
                    "
                  />
                </a>
              </div>
              <div>
                <span
                  class="
                    bg-primary
                    rounded
                    inline-block
                    text-center
                    py-1
                    px-4
                    text-xs
                    leading-loose
                    font-semibold
                    text-white
                    mb-5
                  "
                >
                  @Model.Date
                </span>
                <h3>
                  <a
                    href="blog-details.html"
                    class="
                      font-semibold
                      text-xl
                      sm:text-2xl
                      lg:text-xl
                      xl:text-2xl
                      mb-4
                      inline-block
                      text-dark
                      hover:text-primary
                    "
                  >
                    @Model.Titulo
                  </a>
                </h3>
                <p class="text-base text-body-color">
                  @Model.Resumo
                </p>
              </div>
              @if (User.IsInRole("Administrador"))
        {
            <div class="mesmaLinha" style="display: flex">
                <div>
                        <a asp-action="Edit" asp-route-id="@Model.idPost" asp-controller="postagems"
                       class="font-medium text-base text-body-color hover:text-primary btn-block" style="font-weight: bold">
                            Editar
                        </a>
                </div>
                <div style="padding-left: 90px">
                    <form asp-action="delete" method="post">
                        <input type="hidden" value="@Model.idPost" name="id" id="id">

                        <button type="submit"
                            class="font-medium text-base text-body-color hover:text-primary btn-block "
                            style="color: red">
                            Excluir
                        </button>
                    </form>
                </div>
            </div>
        }
            </div>
          </div>