@model matrix.Models.Entidades.Postagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mostraPagInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mostraPagInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
